/* Car Card styles */
.car-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .car-card:hover {
    transform: scale(1.02);
  }
  
  .car-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .car-card h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
  }
  
  .car-card p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
  }
  
  /* Car Card styles */
.car-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  width: 280px;
}

.car-card:hover {
  transform: scale(1.05);
}

.car-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.flex {
  display: flex;
  gap: 50px;
}
.car-card h3 {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}

.car-details {
  margin-top: 20px;
}

.car-details p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.car-buttons {
  margin-top: 20px;
}

.car-buttons button {
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  padding: 8px 16px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.car-buttons button:hover {
  background-color: #FEC100;
}
/* Car Card styles */


.car-buttons button {
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  padding: 8px 16px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.car-buttons button:hover {
  background-color: #FEC100;
}

/* Add a cool rotation animation to the like button on hover */
/* carcard.css */

.like-button {
  background-color: #007bff; /* Blue background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 8px 16px; /* Add padding */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 4px; /* Add border radius */
}

.like-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}





/* carcard.css */

@keyframes rotateLike {
  0% {
    transform: rotate(0deg);
    font-size: larger;
  }
  50% {
    transform: rotate(40deg);
    font-size: x-large;
  }
  100% {
    transform: rotate(0deg);
    font-size: x-large;
  }
}

/* Apply the animation to the like-button class when the like-button-clicked class is added */
.like-button.like-button-clicked {
  background-color: #fff;
  color: #0056b3;
  animation: rotateLike 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}

@media screen and (max-width: 768px) {
  .car-card {
    padding: 10px; 
    width: 85%;
    justify-items: center;
  }
  button {
    width: 25%;
}
}