/* Pagination styles */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    padding: 8px 16px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .pagination button:hover {
    background-color: #FEC100;
  }
  
  .pagination .active {
    background-color: #FEC100;
  }
  @media screen and (max-width: 768px) {
    .pagination {
      margin-top: 10px; /* Adjust margin for smaller screens */
    }
  
    .pagination button {
      padding: 5px 10px; /* Adjust button padding for smaller screens */
      margin: 0 3px; /* Adjust button margin for smaller screens */
      grid-template-columns: repeat(4, 1fr);
    }
  }